<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" palceholder=model.name /> </td>
            <td><input class="form-control" /> </td>
            <td><input class="form-control" /></td>
            <td><input class="form-control" /> </td>
            <td>
                <button ng-click="editOk(movie)" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>