<div class="container">
        <h2>Movies</h2>
        <div class="row">
            <div class="col-md-9 col-offset-1">
                <input type="text"
                       placeholder="Search by film name" class="input-lg form-control" />
                <!--<input type="text" autocomplete="on" auto-complete-directrive url="{{locationURL}}" />-->
                <!--auto-complete-directrive url="{{locationURL}}"--> 
            </div>           
        </div>
    
   
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>
                        <button ng-click="addMovie()" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus">Add</span>
                        </button>
                    </th> 
                </tr>            
            </thead>
            <tbody>
                <tr ng-repeat="movie in movies">
                    <td>{{movie.Name}} </td>
                    <td>{{movie.Year}} </td>
                    <td>{{movie.Director}}</td>
                    <td>{{movie.Rating}} </td>
                    <td>
                        <button ng-click="selectMovie(movie)" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-click="removeMovie(movie)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

<link href="../Content/ngDialog-theme-default.css" rel="stylesheet" />
<link href="../Content/ngDialog.css" rel="stylesheet" />
<link href="../Content/ngDialog.min.css" rel="stylesheet" />
<!--<script src="../Scripts/angucomplete-alt.js"></script>
<link href="../Content/angucomplete-alt.css" rel="stylesheet" />-->